node_modules

# Build output
dist
dist-ssr
*.local

# Electron build output
release

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
